/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 2px solid #000;
  color: var(--text-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #fff;
  transition: 0.3s ease;
}


.page {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background: var(--page-background);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}

.main {
  display: grid;
  gap: 50px;
}



.container {
  margin-inline: auto;
  inline-size: var(--page-width);
}

.header {
  margin-block: 97px;
  border: 2px solid #000;
  padding: clamp(120px, 20%, 130px) clamp(16px, 4%, 122.5px);
  font-family: var(--accent-font),serif;
  font-weight: 400;
  text-align: center;
  background-color: #fff;
}

.header-title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header-text {
  padding-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}



.cards-list {
  display: grid;
  gap: 47px;
}

.card {
  border: 2px solid #000;
  padding-block-end: 26px;
  background-color: #fff;
}

.card-title {
  align-items: center;
  padding-inline-start: 10px;
  padding-block: 5px;
  font-size: 18px;
  font-variation-settings: "wght" 715;
}

.card-container {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text-container {
  display: grid;
  gap: 25px;
  padding-inline: 25px;
  padding-block-start: 18px;
  padding-block-end: 25px;
}


.card-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font),serif;
  font-weight: 400;
  font-size: 14px;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

@supports (text-stroke: 1px rgba(255, 255, 255, 1)) {
  .card-label {
    text-stroke: 1px rgba(255, 255, 255, 1);
  }
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.card__button-container {
  display: flex;
  justify-content: end;
  gap: 5px;
  padding-inline-end: 25px;
}

.like__button {
  position: relative;
  max-width: 130px;
  padding: 10px 35px;
}



.save-button__container {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-block-end: 100px;
}

.floppy__button-text {
  border: none;
  padding:0;
}

.floppy_img {
  transform: scale(0.58);
}

.filter-blur {
  filter: blur(3px);
}

.filter-brightness {
  filter: brightness(10%);
}

.filter-contrast {
  filter: contrast(500%);
}

.filter-drop-shadow {
  fill: drop-shadow(5px 5px red);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(180deg);
}

.filter-invert-opacity {
  filter: invert(100%) opacity(40%);
}

.modal[open] {
  display: grid;
  justify-items: center;
}

.modal {
  display: none;
  align-items: center;
  gap: 30px;
  border: 2px solid #000;
  padding: 0;
  padding: 30px;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}



.modal::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.modal__scale {
  transform: scale(1.2);
}

.modal__container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  
}

.dialog__image {
  flex-shrink: 0;
  grid-column: 1;
  align-items: center;
  width: 39px;
  height: 39px;
}

.save__button {
  gap: 7px;
  padding: 12px 15px;
}

.dialog__button {
  padding: 10px 130px;
  text-transform: uppercase;
}

.dialog__text {
  grid-column: 2;
  padding-inline-end: 20px;
  text-transform: uppercase;
}

.modal__image {
  width: 39px;
  height: 39px;
}


/* анимации */

/* focus */

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

/* hover */


.button {
  position: relative;
  transition: 0.5s ease-in-out;
}

.button:after {
  content: '';
  position: absolute;
  inset: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: 0.5s ease-in-out ;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.button:hover::after {
  transform: scaleX(1);
}


/* Фокус на кнопке с сердцем */

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  box-shadow: none;
}

/* анимация сердца */

.sparks {
  opacity: 0;
}

.contour {
  transition: fill  0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked {
  transform-origin: center;
  animation: RemovalOfHeart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: FormationOfSparks 0.3s 0.3s ease-in;
}

@media (width <= 375px) {
  .card-title {
    padding-inline-end: 50px;
  }


  .header {
    margin-block: 100px;
  }

  .cards-list {
    gap: 49px;
  }

  .card {
    gap: 25px;
    padding-block-end: 25px;
  }

  .card-text-container {
    padding-block-start: 21px;
  }

  .save__button {
    flex-direction: column;
    gap: 10px;
    padding: 13px 18px;
  }

  .floppy_img {
    width: 28px;
    height: 28px;
    transform: scale(0.7);
  }

  .dialog__button {
    padding: 10px 115px;
  }
}

