/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/



.page {
  overflow-x: hidden;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-image: var(--page-background);
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}



.container {
  margin-inline: auto;
  inline-size: var(--page-width);
}

.header {
  margin-block: 97px;
  border: 2px solid #000;
  padding: clamp(120px, 20%, 130px) clamp(16px, 4%, 122.5px);
  font-family: var(--accent-font),serif;
  text-align: center;
  background-color: #fff;
}

.header-title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-text {
  padding-block-start: 20px;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}



.cards-list {
  display: grid;
  gap: 52px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 23px;
  border: 2px solid #000;
  padding-block-end: 26px;
  background-color: #fff;
}

.card-title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" 715;
}

.card-container {
  position: relative;
  margin-block-start: -28px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  padding-inline: 25px;
}

.card-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font),serif;
  font-weight: 400;
  font-size: 14px;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

@supports (text-stroke: 1px rgba(255, 255, 255, 1)) {
  .card-label {
    text-stroke: 1px rgba(255, 255, 255, 1);
  }
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.card__button-container {
  display: flex;
  justify-content: end;
  gap: 5px;
  padding-inline-end: 25px;
}




.like__button {
  position: relative;
  border: 2px solid #000;
  padding: 0;
  color: var(--text-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--background-color);
  transition: 0.3s ease;
  inline-size: 130px;
  block-size: 38px;
}



.save-button__container {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-block-end: 100px;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border: 2px  solid #000;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  background-color: #fff;
  transition: 0.3s ease;
  inline-size: 335px;
  block-size: 50px;
}


.floppy__button-text {
  border: none;
  padding:0;
}

.blur {
  filter: blur(3px);
}

.brightness {
  filter: brightness(10%);
}

.contrast {
  filter: contrast(500%);
}

.drop-shadow {
  fill: drop-shadow(5px 5px red);
}

.grayscale {
  filter: grayscale(80%);
}

.hue-rotate {
  filter: hue-rotate(180deg);
}

.invert-opacity {
  filter: invert(100%) opacity(40%);
}

.modal {
  max-width: 353px;
  min-height: 191px;
  border: 2px solid #000;
  padding: 0;
  overflow-x: hidden;
}

.modal::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.modal__container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.dialog__image {
  flex-shrink: 0;
  align-items: center;
  width: 39px;
  height: 39px;
}

.dialog__image use {
  transform: scale(1.8);
}

.dialog__button {
  justify-content: center;
  margin: 0;
  border: 2px solid #000;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  transition: 0.3s ease;
  inline-size: 293px;
  block-size: 38px;
}

.dialog__text {
  text-transform: uppercase;
}


/* анимации */

/* focus */

.dialog__button:focus,
.save__button:focus,
.like__button:focus {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  outline: none;
}

/* hover */


.dialog__button,
.save__button,
.like__button {
  position: relative;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: 0.5s ease-in-out;
}

.dialog__button::after,
.save__button::after,
.like__button::after {
  content: '';
  position: absolute;
  inset: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: 0.5s ease-in-out ;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.dialog__button:hover:after,
.save__button:hover::after,
.like__button:hover::after {
  transform: scaleX(1);
}


/* Фокус на кнопке с сердцем */

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

/* анимация сердца */

.sparks {
  opacity: 0;
}

.contour {
  transition: fill  0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.1s;
}

.like-icon.is-liked {
  transform-origin: center;
  animation: increase-heart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s 0.3s ease-in;
}

@keyframes increase-heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



@media (width <= 375px) {
  .header {
    margin-block: 100px;
  }

  .cards-list {
    gap: 48px;
  }

  .card {
    gap: 25px;
    padding-block-end: 25px;
  }

  .save__button {
    flex-direction: column;
    gap: 10px;
    inline-size: 310px;
    block-size: 83px;
  }

  .floppy_img {
    width: 28px;
    height: 28px;
  }
}

